.wrapper{
  margin-top:15px;
  padding:1%;
  border-radius:20px;
  border-style:solid;
}

.ap{
  display:inline-block;
 
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin-top: 15px;
    padding: 2%;
    border-radius: 15px;
  }
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
}
