<app-appmenubar></app-appmenubar>
<div style="overflow:hidden;">
  <div class="contentwrapper elemspanel toleft withentryanim">
    <div class="wrap">
      <p class="subttlemain subttlemainsmaller">Rejestracja</p>
      <mat-form-field class="example-full-width maininp">
        <input type="text" placeholder="email" aria-label="email" matInput
               [(ngModel)]="normaluser.email">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width maininp">
        <input type="password" placeholder="hasło" aria-label="hasło" matInput
               [(ngModel)]="normaluser.password">
      </mat-form-field>
      <br />
      <p class="minititlemain">Adres do dostawy</p>
      <mat-form-field class="example-full-width maininp">
        <input type="text" placeholder="ulica i numer" aria-label="ulica i numer" matInput
               [(ngModel)]="normaluser.address.street">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width maininp">
        <input type="text" placeholder="kod pocztowy" aria-label="kod pocztowy" matInput
               [(ngModel)]="normaluser.address.postcode">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width maininp">
        <input type="text" placeholder="miasto" aria-label="miasto" matInput
               [(ngModel)]="normaluser.address.city">
      </mat-form-field>
      <br />
      <button (click)="register()" class="btnmain bregister">Zarejestruj</button>
      <p *ngIf="servres" class="servres">{{servres}}</p>
    </div>
    </div>
    <div class="fullscreenback backimg backimgfixed"> </div>
  </div>
