
  <app-appmenubar></app-appmenubar>
  <div class="contentwrapper wrapper">
    <div class="bigimg backimg img1"></div>
    <div class="acontent specialpadding paddingaboutusmob">
      <div class="aboutuscontainer">
        <div class="aboutus toleft withentryanim contentelemback">
          <p class="subttlemain aboutustitle">Kim jesteśmy?</p>
          <p class="sometext atext">
            Pizzeria Pepperoni mieści się na urokliwych poznańskich Jeżycach. Nasza restauracja została stworzona z zaangażowaniem i pasją jaką jest sztuka wypiekania pizzy. Naszym celem jest oferowanie przepysznej pizzy, przyrządzanej przez znakomitych kucharzy według tradycyjnej receptury. W menu znajdą państwo 60 rodzajów pizz. Każda z nich jest niepowtarzalna, przepełniona aromatem śródziemnomorskich ziół oraz różnorodnością składników kuszą swoim zapachem od pierwszej chwili. Nasze pizze przygotowujemy na dwa sposoby;
            tradycyjny oraz włoski z cienkim kruchym ciastem.
            Wykorzystujemy świeże i naturalne składniki najwyższej jakości które sprawią że żaden smakosz nie przejdzie obok obojętnie. W naszym menu znajdziecie również:
            - pyszne spaghetti,
            - pożywne dania obiadowe
            - doskonałe kebaby i tortille.
            Na miłośników kuchni wegetariańskiej czekają świeże i aromatyczne sałatki.
            Z przyjemnością ugościmy was w naszym przytulnym lokalu przy ul. Szamarzewskiego 1 gdzie lunch, rodzinny obiad lub romantyczna kolacja będą czystą przyjemnością.
            Nie masz czasu, żaden problem ! Dowieziemy ciepłe i pyszne jedzenie do twojego domu lub pracy
          </p>
        </div>
        <div class="aboutusimg backimg toright withentryanim"></div>
      </div>
    </div>
    <div class="separatorimg backimg img2 backimgfixed"></div>
    <div class="acontent specialpadding">
      <p class="subttlemain advantagestitle">Jakie mamy zalety?</p>
      <div class="advantageswrap">
        <div class="advantage toleft withentryanim contentelemback">
          <p class="minititlemain advantagetitle">Bo tak</p>
          <p class="advantagestext atext">
            Every dish at ilili has it's own story from the traditional recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality. Our menu is never done - we find inspiration all around
          </p>
        </div>

        <div class="advantage todown withentryanim contentelemback">
          <p class="minititlemain advantagetitle">Bo tak</p>
          <p class="advantagestext atext">
            Every dish at ilili has it's own story from the traditional recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality. Our menu is never done - we find inspiration all around
          </p>
        </div>

        <div class="advantage  toright withentryanim thirdadvantage contentelemback">
          <p class="minititlemain advantagetitle">Bo tak</p>
          <p class="advantagestext atext">
            Every dish at ilili has it's own story from the traditional recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality. Our menu is never done - we find inspiration all around
          </p>
        </div>
      </div>
    </div>
    <div class="separatorimg backimg img3"></div>
    <div class="acontent specialpadding">
      <p class="subttlemain mapstitle">Lokalizacja</p>
      <div #map class="mapwrapper  todown withentryanim"></div>
    </div>
    <div class="separatorimg backimg img4 backimgfixed"></div>
    <div class="acontent specialpadding">

   
      <div class="contactform">
        <p class="subttlemain contactformtitle  toleft withentryanim ">Fromularz kontaktowy</p>
        <div class="toright withentryanim">
          <app-contactform></app-contactform>
        </div>
     
      </div>
    
    </div>
   
  </div>

