<app-appmenubar></app-appmenubar>
<div style="overflow:hidden;">
  <div class="contentwrapper   elemspanel todown withentryanim">
    <p class="subttlemain subttlemainsmaller">Odzyskiwanie hasła</p>
    <mat-form-field class="example-full-width maininp">
      <input type="text" placeholder="e-mail" aria-label="e-mail" matInput
             [(ngModel)]="email">
    </mat-form-field>
    <br />
    <button (click)="restorepassword()" class="btnmain blogin">Odzyskaj hasło</button>
    <p *ngIf="servres" class="servres registerp">{{servres}}</p>
  </div>
  <div class="fullscreenback backimg backimgfixed"> </div>
</div>
